.done-true {
  text-decoration: line-through;
  color: grey;
}

  .horizontal-collapse {
    height: 70px;
  }
  .navbar-collapse.in {
    overflow-y: hidden;
  }

  .card{
  	border:1px solid #000
  } 