
<div class="container-fluid" ng-controller="cartCtrl">
	<div class="row-fluid">
		<div class="span8">

			<form class="form-inline">
			<table class="table table-condensed">
				<tr class="well">
					<td><b><p translate="ITEM" style="display:inline"></b></td>
					<td class="MyCenter"><b><p translate="QUANTITY" style="display:inline"></b></td>
					<td class="MyRight"><b><p translate="PRICE" style="display:inline"></b></td>
					<td />
				</tr>

				<tr ng-hide="cart.getTotalCount()">
					<td class="MyCenter" colspan="4" translate="CART_EMPTY">
					</td>
				</tr>

				<tr ng-repeat="item in cart.items">
					<td ng-show="item.quantity>0"><label translate="{{item.name}}" for="lgFormGroupInput" class="col-form-label col-form-label-lg"></label></td>
					<td ng-show="item.quantity>0">
						<label for="lgFormGroupInput" class="col-form-label col-form-label-lg">{{item.quantity}}</label>
						<!--
							<input class="form-control" type="tel" ng-model="item.quantity" ng-change="cart.saveItems()" />
						-->
							<button class="btn btn-success" type="button" ng-disabled="item.quantity>=1000" ng-click="cart.addItem(item.sku,item.name,item.price,+1)">+</button>
							<button class="btn btn-success" type="button" ng-disabled="item.quantity<=0" ng-click="cart.addItem(item.sku,item.name,item.price,-1)">-</button>				
						
					</td>
					<td class="MyRight" ng-show="item.quantity>0">{{item.price * item.quantity | currency}}</td>
					<td class="myCenter" ng-show="item.quantity>0" title="remove from cart">
						<a href="" ng-click="cart.addItem(item.sku,item.name,item.price,-1000)">
							<i class="icon-remove" />
						</a>
					</td>
				</tr>

				<tr class="well">
					<td><b><p translate="TOTAL" style="display:inline"></b></td>
					<td class="MyCenter"><b>{{cart.getTotalCount()}}</b></td>
					<td class="MyRight"><b>{{cart.getTotalPrice() | currency}}</b></td>
					<td />
				</tr>
			</table>
			</form>
		</div>
		<div class="span4">
			<p class="My-Text">
				<button class="btn btn-block btn-primary" ng-click="confirm()" ng-disabled="cart.getTotalCount() < 1">		
					<i class="icon-trash icon-white" /> <p translate="CHECKOUT" style="display:inline">
				</button>					
				<button class="btn btn-block btn-info" onclick="window.location.href='/'">
					<i class="icon-chevron-left" /><p translate="BACK_TO_STORE" style="display:inline">
				</button>
				<button class="btn btn-block btn-danger" ng-click="cart.clearItems()" ng-disabled="cart.getTotalCount() < 1">
					<i class="icon-trash icon-white" /> <p translate="CLEAR_CART" style="display:inline">
				</button>
			</p>
			<br />
		</div>
	</div>
</div>