<div class="container">
	<div class="row">
		<div class="col-md-4">
			<div class="card">
			  <img class="card-img-top" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSgCTEGLmOhnd-Er2tRgc3-zcJ6_NdvD2_sge3viUKBHp98q3wVsmkv8A" alt="Card image cap">
			  <div class="card-block">
			    <h4 class="card-title">Card title</h4>
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			    <a href="#" class="btn btn-primary">Go somewhere</a>
			  </div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="card">
			  <img class="card-img-top" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSgCTEGLmOhnd-Er2tRgc3-zcJ6_NdvD2_sge3viUKBHp98q3wVsmkv8A" alt="Card image cap">
			  <div class="card-block">
			    <h4 class="card-title">Card title</h4>
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			    <a href="#" class="btn btn-primary">Go somewhere</a>
			  </div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="card">
			  <img class="card-img-top" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSgCTEGLmOhnd-Er2tRgc3-zcJ6_NdvD2_sge3viUKBHp98q3wVsmkv8A" alt="Card image cap">
			  <div class="card-block">
			    <h4 class="card-title">Card title</h4>
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			    <a href="#" class="btn btn-primary">Go somewhere</a>
			  </div>
			</div>
		</div>				
	</div>
</div>