	<!--gallery-->
	

		<div class="container" ng-controller="galleryCtrl" >
			<div class="gallery-grids">
				<div class="col-md-3 gallery-grid" ng-repeat="product in productInfo | filter: filterFunction">
					<a href="/#!/product/{{product.id}}"><img ng-src="{{product.path}}" class="img-responsive" alt=""/>
					</a>
					<div class="galy-info">
						<p translate="{{product.name}}">
						<div class="galry">
							<div class="prices">
								<h5 class="item_price">${{product.price}}</h5>
							</div>
							<div class="rating">
							<button class="add-to-cart btn btn-default" type="button" ng-click="cart.addItem(product.id, product.name, product.price, 1)">
								<p translate="ADD_TO_CART" style="display:inline">
							</button>							
							</div>						
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			</div>	
		</div>
	<!--//gallery-->