	    <div ng-controller="mainMenuCtrl">


	      <nav class="navbar navbar-default" role="navigation">
	        <div class="navbar-header" align="center">
	        <!--
			    <span uib-dropdown on-toggle="toggled(open)">
			      <button type="button" class="btn btn-default dropdown-toggle" uib-dropdown-toggle>
			        <span class="lang-sm lang-lbl" lang="{{selectedLang}}"></span> <span class="caret"></span>
			      </button>
			      <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
			        <li ng-repeat="lang in items" ng-click="changeLang(lang)">
			          <span class="lang-sm lang-lbl" lang="{{lang}}"></span>
			        </li>
			      </ul>
			    </span>
			  -->
	          <button type="button" class="navbar-toggle" ng-click="isNavCollapsed = !isNavCollapsed">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>

	        </div>
	        <div class="collapse navbar-collapse" uib-collapse="isNavCollapsed">

	          <ul class="nav navbar-nav">
	            <li><a href="#" ng-click="index()"><p translate="STORE"></p></a></li>
	            <li ng-repeat="item in category">
	              <a href="#" ng-click="showCategory(item.id)"><p translate="{{item.name}}"></p></a>
	            </li>
	            <li><a href="" ng-click="changeLang('en')">English</a></li>
	            <li><a href="" ng-click="changeLang('zh')">中文</a></li>
	          </ul>
	        </div>
	      </nav>
	      
	    </div>