<div class="container"  ng-controller="OrderCtrl">
  <h2><p translate="ORDER" style="display:inline"></p> - {{order.id}}</h2>
  <p translate="ORDER_TEXT"></p>            
  <table class="table">
    <thead>
      <tr>
        <th><p translate="NAME"></p> </th>
        <th><p translate="PRICE"></p> </th>
        <th><p translate="QUANTITY"></p> </th>
        <th><p translate="TOTAL"></p> </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in orderItem">
        <td translate="{{item.name}}"></td>
        <td>{{item.price}}</td>
        <td>{{item.quantity}}</td>
        <td>{{item.price*item.quantity}}</td>
      </tr>    
      <tr>
        <td><p translate="TOTAL"></p></td>
        <td></td>
        <td>{{order.quantity}}</td>
        <td>{{order.price}}</td>
      </tr>          
    </tbody>
  </table>

  <table class="table">
    <thead>
      <tr>
        <th><p translate="PAYMENT_METHOD"></p></th>
        <th><p translate="PAYMENT_ACCOUNT"></p></th>
      </tr>
    </thead>
    <tbody>   
      <tr>
        <td><p translate="WECHAT_PAY"></p></td>
        <td>cici20130619</td>
      </tr>   
      <tr>
        <td><p translate="BANK_TRANSFER"></p></td>
        <td></td>
      </tr>    
      <tr>
        <td><p translate="ONLINE_TRANSFER"></p></td>
        <td>
      <tr>
        <td><p translate="BANK_TRANSFER"></p></td>
        <td>
          <form action="/your-server-side-code" method="POST">
          <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_test_xVAqsYMxwh3AZfJcYu1hruyE"
            data-amount="2000"
            data-name="Cishop"
            data-description="We provide the best products online"
            data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
            data-locale="auto"
            data-currency="cad">
          </script>
          </form>         
        </td>
        </td>
      </tr>  
    </tbody>
  </table>  
</div>

