<div class="container"  ng-controller="OrderCtrl" ng-init="init()">
  <h3><p translate="ORDER" style="display:inline"></p> - {{order.id}} - <p translate="ORDER_STATUS_{{order.status}}" style="display:inline"></p></h3>
  <p ng-show="order.status != 1" translate="ORDER_TEXT"></p>            
  <table class="table">
    <thead>
      <tr>
        <th><p translate="NAME"></p> </th>
        <th><p translate="PRICE"></p> </th>
        <th><p translate="QUANTITY"></p> </th>
        <th><p translate="TOTAL"></p> </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in orderItem">
        <td translate="{{item.name}}"></td>
        <td>{{item.price}}</td>
        <td>{{item.quantity}}</td>
        <td>{{item.price*item.quantity}}</td>
      </tr>    
      <tr>
        <td><p translate="TOTAL"></p></td>
        <td></td>
        <td>{{order.quantity}}</td>
        <td>{{order.price}}</td>
      </tr>          
    </tbody>
  </table>

  <table class="table" ng-show="order.status != 1">
    <thead>
      <tr>
        <th><p translate="PAYMENT_METHOD"></p></th>
        <th><p translate="PAYMENT_ACCOUNT"></p></th>
      </tr>
    </thead>
    <tbody>   
      <tr>
        <td><p translate="WECHAT_PAY"></p></td>
        <td>cici20130619</td>
      </tr>   
      <tr>
        <td><p translate="BANK_TRANSFER"></p></td>
        <td></td>
      </tr>    
      <tr>
        <td><p translate="ONLINE_PAY"></p></td>
        <td>
          <button type="button" class="btn btn-primary" ng-click="showPaymentModal()">
            <p translate="GOPAY"></p>
          </button>        
        </td>
      </tr>  
      <!--
      <tr>
        <td><p translate="IDENTITY"></p></td>
        <td>
<webcam
  on-stream="onStream(stream)"
  on-streaming="onSuccess()"
  on-error="onError(err)">
</webcam>       
        </td>
      </tr>  
      -->      
    </tbody>
  </table>  
</div>

