<div class="container"  ng-controller="OrderCtrl">
  <h2><p translate="ORDER" style="display:inline"></p> - {{order.id}}</h2>
  <p translate="ORDER_TEXT"></p>            
  <table class="table">
    <thead>
      <tr>
        <th><p translate="NAME"></p> </th>
        <th><p translate="PRICE"></p> </th>
        <th><p translate="QUANTITY"></p> </th>
        <th><p translate="TOTAL"></p> </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in orderItem">
        <td translate="{{item.name}}"></td>
        <td>{{item.price}}</td>
        <td>{{item.quantity}}</td>
        <td>{{item.price*item.quantity}}</td>
      </tr>    
      <tr>
        <td><p translate="TOTAL"></p></td>
        <td></td>
        <td>{{order.quantity}}</td>
        <td>{{order.price}}</td>
      </tr>          
    </tbody>
  </table>

  <table class="table">
    <thead>
      <tr>
        <th><p translate="PAYMENT_METHOD"></p></th>
        <th><p translate="PAYMENT_ACCOUNT"></p></th>
      </tr>
    </thead>
    <tbody>   
      <tr>
        <td><p translate="WECHAT_PAY"></p></td>
        <td>cici20130619</td>
      </tr>   
      <tr>
        <td><p translate="BANK_TRANSFER"></p></td>
        <td></td>
      </tr>    
      <tr>
        <td><p translate="ONLINE_TRANSFER"></p></td>
        <td>
      <tr>
        <td><p translate="BANK_TRANSFER"></p></td>
        <td>
          <form stripe:form="saveCustomer">
            <fieldset>
              <input type="text" size="20" data-stripe="number"/>
              <input type="text" size="4" data-stripe="cvc"/>
              <input type="text" size="2" data-stripe="exp-month"/>
              <input type="text" size="4" data-stripe="exp-year"/>
            </fieldset>
            <button type="submit">Save</button>
          </form>        
        </td>
        </td>
      </tr>  
    </tbody>
  </table>  
</div>

