<div class="container" ng-controller="productCtrl">
  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">Price</label>
    <div class="col-10">
      <input class="form-control" type="text" value="" ng-model="price">
    </div>
  </div>
  <div class="form-group row">
    <label for="example-search-input" class="col-2 col-form-label">Image</label>
    <div class="col-10">
<webcam
  on-stream="onStream(stream)"
  on-streaming="onSuccess()"
  on-error="onError(err)">
</webcam>
    </div>
  </div>
</div>

