	<div class="container" ng-controller="productCtrl">
		<div class="card">
			<div class="container-fliud">
				<div class="wrapper row">

					<div class="preview col-md-6">
<!--
http://bootsnipp.com/snippets/featured/ecommerce-product-detail
-->
						
						<div class="preview-pic tab-content">
						<div class="tab-pane" ng-repeat="item in product.side_path" ng-class="item.active"><img src="{{item.path}}" /></div>
						</div>
						<ul class="preview-thumbnail nav nav-tabs">
							<li ng-repeat="item in product.side_path" ng-click="setActive(item)"><a  data-toggle="tab"><img src="{{item.path}}" /></a></li>
						</ul>
						
					</div>
					<div class="details col-md-6">
						<h3 class="product-title"><p translate="{{product.name}}"></p></h3>
						<p class="product-description" translate="{{product.description}}"></p>

						<div class="form-group row">

						  <h4 for="example-text-input" class="price col-md-2 col-form-label"><p translate="PRICE" style="display:inline"></p></h4>
						  <h4 class="price col-md-10">
						    <p translate="CURRENCY_SYMBOL" style="display:inline"></p>{{product.price}} <p translate="CURRENCY_YUAN" style="display:inline"></p>
						  </h4>						
						</div>


						<div class="form-group row">

						  <h5 for="example-text-input" class="sizes col-md-2 col-form-label">
						  	<p translate="ORIGIN" style="display:inline"></p>
						  </h5>
						  <h5 class="sizes col-md-10">
						    <p translate="{{product.origin}}" style="display:inline"></p>
						  </h5>						
						</div>

						<div class="form-group row">

						  <h5 for="example-text-input" class="sizes col-md-2 col-form-label">
						  	<p translate="BRAND" style="display:inline"></p>
						  </h5>
						  <h5 class="sizes col-md-10">
						    <p translate="{{product.brand}}" style="display:inline"></p>
						  </h5>						
						</div>

						<div class="form-group row">
						  <h5 for="example-text-input" class="sizes col-md-2 col-form-label">
						  	<p translate="SPEC" style="display:inline"></p>
						  </h5>
						  <h5 class="sizes col-md-10">
						    <p translate="{{product.spec}}" style="display:inline"></p>
						  </h5>						
						</div>


						<div class="action">
							<button class="add-to-cart btn btn-default" type="button"><p translate="ADD_TO_CART" style="display:inline"></button>
							<button class="add-to-cart btn btn-default" type="button"><p translate="CHECKOUT" style="display:inline"></button>
							<button class="like btn btn-default" type="button"><span class="fa fa-heart"></span></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>