<div class="modal-header">
    <button type="button" class="close" 
        data-ng-click="modalOptions.close()">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only" translate="CLOSE"></span>
    </button>
    <h4 class="modal-title" id="myModalLabel">
        <p translate="ONLINE_PAY"></p>
    </h4>
</div>
<div class="modal-body">
    <fieldset>
        <div class="form-group">
            <label for="exampleInputEmail1"><p translate="CARD_NUMBER"></p></label>
            <input type="text" class="form-control" size="20" ng-model="number"/>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1"><p translate="CARD_EXP_YEAR"></p></label>
            <input type="text" class="form-control" size="20" ng-model="exp_year"/>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1"><p translate="CARD_EXP_MONTH"></p></label>
            <input type="text" class="form-control" size="20" ng-model="exp_month"/>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1"><p translate="CARD_CVC"></p></label>
            <input type="text" class="form-control" size="20" ng-model="cvc"/>
        </div>
        <div class="form-group">
        <p class="text-warning">{{modalOptions.errorMsg}}</p>
        </div>
    </fieldset>

</div>

<div class="modal-footer">

    <button type="button" class="btn btn-default"
        data-ng-click="modalOptions.close()">
        <p translate="CLOSE"></p>
    </button>
    <button type="submit" class="btn btn-primary" data-ng-click="modalOptions.pay()">
        <p translate="GOPAY"></p>
    </button>
</div>

